    .container-sm{
        background-image: url('../../assets/fondo2.png');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-wrap: wrap;
    }

    .form-sm{
        flex: 1;
        z-index: 1;
        max-width: 350px;
        padding: 45px;
        outline: 0;
        text-align: left;
    }

    .img-sm{
        text-align: center;
    }

    .h1-sm{
        font-family: 'PlusJakartaSans-Bold', sans-serif;
        color:#427aa1;
        text-align: center;
    }

    .button-iniciar {
        width: 48%;
        margin-right: 2px;
        cursor: pointer;
        background: #427aa1;
        color: #e3f2fd;
        border: none;
        border-radius: 15px;
        padding: 10px 0px;
        font-size: 16px;
        transition: all .3s ease;
    }

    .button-iniciar:hover {
        transform: scale(1.125); 
        filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
    }

    .button-crearc {
        width: 48%;
        margin-left: 2px;
        cursor: pointer;
        background: #ffffff;
        border: 1.5px solid #427aa1;
        color: #427aa1;
        border-radius: 15px;
        padding: 10px 0px;
        font-size: 16px;
        transition: all .3s ease;
    }
    
    .button-crearc:hover {
        transform: scale(1.125);
        border: 1.5px solid #427aa1;
        filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
    }